:root {
    --main-color: #004C99;
    --body-bg: #E0E0E0;
    --font-family-logo: OCR A Std, monospace;
    --font-family-links: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    --font-family-centrale: Trebuchet MS;
    --font-size-logo: 20px;
    --font-size-links: 12px;
  }
  
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    background-color: var(--body-bg);
    box-sizing: border-box;
    background-color: #E0E0E0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
  }
  
    main {
      flex: 1;
      text-align: center;
      padding: 80px 20px; 
      margin-top: 60px; 
    }
  
  /*Les styles de la barre de Navigation*/
  .navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background: white;
  }
  
  .navbar a {
    color: var(--main-color);
    font-family: var(--font-family-links);
  }
  
  .navbar .logo-container img {
    align-self: flex-start;
    width: 85px;
    position: absolute;
    margin-left: 20px;
    left: 0;
    bottom: 0.5px;
    padding: 3px;
  }
  
  .navbar .logo {
    font-size: var(--font-size-logo);
    font-family: var(--font-family-logo);
    font-weight: bold;
    margin-left: 60px;
  }
  
  .navbar .nav-liens ul {
    display: flex;
  }
  
  .navbar .nav-liens .services {
    display: none;
    padding: 15px;
  }
  
  .navbar .nav-liens .nosformations {
    display: none;
    padding: 15px;
  }
  
  .navbar .nav-liens ul li a {
    margin-left: 50px;
    font-family: var(--font-family-links);
    font-size: var(--font-size-links);
    padding: 10px;
  }
  
  .navbar .accueil:hover,
  .navbar .cabinet:hover,
  .navbar .nosservices:hover,
  .navbar .formations:hover,
  .navbar .actualites:hover,
  .navbar .faq:hover,
  .navbar .contact:hover {
    border-top: 5px solid #0066CC;
    background-color: rgba(102, 178, 255, 0.15);
    padding-top: 32px;
    padding-bottom: 33px;
  }
  
  .navbar .nav-liens li {
    position: relative;
  }
  
  .navbar .nav-liens li:hover > .services {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 250%; 
    padding: 20px;
    box-shadow: 5px 5px 10px 0px blue;
    background-color: white;
  }
  
  .navbar .nav-liens li:hover > .nosformations {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 250%; 
    padding: 20px;
    box-shadow: 5px 5px 10px 0px blue;
    background-color: white;
  }
  
  .services a {
      padding: 50px;
      margin: 20px;
      white-space: nowrap;
      display: block;
  }
  
  .nosformations a {
      padding: 50px;
      margin: 20px;
      white-space: nowrap;
      display: block;
  }
  
  .services a:hover {
    color: green;
  }
  
  .nosformations a:hover {
    color: green;
  }
  
  /*Texte du milieu*/
  .texte-milieu{
    font-family: var(--font-family-centrale);
    font-size: 30px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;
    font-weight: bold; 
  }
  
  
  .evenement{
    display: flex;
    font-family: var(--font-family-centrale);
    align-items: center;
    font-size: 30px;
    font-weight: normal;
    padding-top: 150px;
    margin-left: 15px;
  }
  
  .Iconedate{
    margin-right: 5px;
    padding-left: 130px;
  }
  
  .evenement .evenement-text{
    text-align: left;
    padding-left: 40px;
  }
  
  .cadre-evenement{
    display: flex;
    font-family: var(--font-family-centrale);
    align-items: center;
    font-size: 20px;
    font-weight: normal;
    padding-top: 100px;
    margin-left: 15px;
  
  }
  
  .image-evenement{
    width: 300px;
    height: 150px;
    margin-left: 0px;
     
  }
  
  .cadreEvenement-text{
    font-family: var(--font-family-centrale);
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    color: white; 
    padding-top: 30px;
  }
  
  .plus:hover {
      color: red; 
  }
  
   .cadre-carre {
    width: 300px;
    height: 150px; 
    background-color: var(--main-color);; 
    margin-left: 130px;
    padding-right: 0px;
  }
  
  .evenement-text1{
    text-align: center;
    padding-left: 60px;
    color: var(--main-color);
    font-weight: bold;
  }
  
  .plus{
    padding-top: 5px;
    font-size: 15px;
    color: var(--main-color);
    font-weight: normal;
  }
  
  /*Les styles du pied de page*/
  footer {
    background-color: #202020;
    color: white;
    padding: 30px 20px;
    font-family: var(--font-family-centrale);
  }
  
  .footer-top {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-elt {
    text-align: center;
  }
  
  .footer-elt h3 {
    margin-bottom: 10px;
  }
  
  .footer-elt a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 5px 0;
  }
  
  .footer-elt a:hover {
    color: blue;
  }
  
  .footer-middle {
    text-align: center;
    margin-top: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    color: white;
    margin-bottom: 10px;
  }
  
  input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #27ae60;
  }
  
  /*Les styles des cartes du bas*/
  .card-body{
    background-color: #004C99;
    height: 250px;
    width: 300px;
  }
  
  .card-body:hover{
    background-color: rgb(254, 183, 0);
  }
  
  
  .footer-bottom{
    text-align: center;
    padding: 50px;
  }
  
  .center {
    display: flex;
    justify-content: space-between; 
    animation: scrollCards 10s linear infinite;
    /*flex-wrap: wrap;*/
    margin-top: 100px; 
    width: 100%;
    overflow: hidden;
  }
  
  .main-card {
    margin: 90px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .main-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    width: 340px;
    object-fit: cover;
  }
  
  .main-card .card-body {
    padding: 1.25rem;
  }
  
  .main-card .card-title {
    color: white;
    font-family: var(--font-family-centrale);
    font-size: var(--font-size-logo);
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  .main-card .card-text {
    color: white;
    padding-bottom: 30px;
    font-family: var(--font-family-centrale);
  }
  
  .main-card .btn-primary {
    background-color: #202020;
    border-color: white;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 12px 20px;
    border-radius: 8px;
    margin-top: auto; 
    font-weight: bold;
  }
  
  .main-card .btn-primary:hover {
    background-color: white;
    color: black;
  }
  
  .carte {
        position: relative;
        padding-left: 50px;
        width: 90%;
        height: 710px; 
        margin-left: 10px;
        margin-left: 50px;
        margin-top: 50px;
        border: none; 
        box-shadow: 0 8px 8px rgba(0, 0, 0, 1); 
        border-radius: 10px; 
        overflow: hidden; 
      }
  
  .card-image {
        position: relative;
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover; 
        /*filter: blur(2px);*/
        display: block;
      }
  
  .card-image::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 255, 0.5) 0%, transparent 50%, transparent 100%);
        mix-blend-mode: color;
        pointer-events: none; 
      }
  
  .card-image-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 1);
        background: rgba(0, 0, 255, 0.2);
        height: 250px;
        width: 950px;
      }
  
      .carte-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2px;
        padding-top: 1px;
        font-family: Trebuchet MS;
        white-space: pre-wrap;
        padding-top: 20px;
      }
  
      .carte-text {
        font-size: 1.70rem;
        margin-bottom: 5px;
        color: white;
        font-family: Trebuchet MS;
        white-space: pre-wrap;
        padding-top: 50px;
      }
  
      .precedent, .suivant{
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: blue;
        font-size: 30px;
        background-color: white;
        transition: background-color 0.6 ease;
      }
    /*Les styles des boutons suivant et précédent*/
      .precedent{
        left: 1em;
      }
  
      .suivant{
        right: 1em;
      }
  
      .precedent:hover, .suivant:hover{
        background-color: rgba(0, 0, 0, 5);
        color: white;
      }
  
  
      /*Les Styles des cadres du milieu*/
      .cadre-container {
        display: flex;
        overflow-x: hidden;
        transition: transform 1s ease;
        margin-right: 112.5px;
        margin-left: 112.5px;
        padding-bottom: 0;
      }
  
      .cadre {
        min-width: 180px;
        margin: 9px;
        padding: 20px;
        border-radius: 8px;
      }
  
      .image-cadre {
        min-width: 80px;
        margin: 0px;
        padding: 0px;
        width: 200px;
        height: 150px;
      }
  
      #prevBtn,
      #nextBtn {
        cursor: pointer;
        position: absolute;
        top: 145%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;
        font-size: 22px;
        background-color: black;
        transition: background-color 0.6s ease;
      }
  
      #prevBtn {
        left: 3em;
      }
  
      #nextBtn {
        right: 3em;
      }
  
  
      @keyframes scrollCards {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(calc(-110% - 10px)); 
        }
    }